@import '~antd/dist/antd.css';
// 记住密码默认背景颜色和字体颜色，注意字体颜色不要和框的背景色一致
input:-webkit-autofill,
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  color: rgba(0, 0, 0, 0.85) !important;
  transition: background-color 500000s ease-in-out 0s;
}
.login-wrapper{
  input:-webkit-autofill,
  input:-internal-autofill-previewed,
  input:-internal-autofill-selected,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color:rgba(255, 255, 255, 0.7) !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent;
    background-image: none;
    color:rgba(255, 255, 255, 0.7) !important;
    transition: background-color 500000s ease-in-out 0s;
  }
}
.slide-enter {
  position: absolute;
  width: 100%;
  opacity: 0.01;
  transform: translateX(100%);
}

.slide-enter-active {
  position: absolute;
  width: 100%;
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-out;
}

.slide-exit {
  position: absolute;
  width: 100%;
  opacity: 1;
  transform: translateX(0%);
}

.slide-exit-active {
  position: absolute;
  width: 100%;
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

/*整个滚动条*/ 
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
/*定义滚动条轨道*/
::-webkit-scrollbar-track {
  background-color: #fff;
}
/*定义滑块*/
::-webkit-scrollbar-thumb {
  background-color: #ACB1BF;
  border-radius: 4px;
}

// h2标题样式
.content-title {
  font-size: 20px;
  margin-bottom: 24px;
  letter-spacing: 1px;
  @include font-color($color-G90, $color-W90);
}
// 内容阴影框
.box-table {
  @include bg-color($color-W100, $color-C70);
  padding: 32px 24px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.empty-show{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.margin-left-30{
  margin-left: 30px;
}
.margin-left-10{
  margin-left: 10px;
}
.ant-form-inline{
  .margin-bottom-20{
    margin-bottom: 20px;
  }
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.font-16{
  font-size: 16px;
}
.flex-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body{
  .custom-button-info{
    color: #fff;
    background-color: #909399;
    border-color: #909399;
    &:hover, &:focus{
      background: #a6a9ad;
      border-color: #a6a9ad;
      color: #fff;
    }
  }
  .custom-button-primary{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    &:hover, &:focus{
      background: #66b1ff;
      border-color: #66b1ff;
      color: #fff;
    }
  }
  .custom-button-success{
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
    &:hover, &:focus{
      background: #85ce61;
      border-color: #85ce61;
      color: #fff;
    }
  }
  .custom-button-warning{
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
    &:hover, &:focus{
      background: #ebb563;
      border-color: #ebb563;
      color: #fff;
    }
  }
  .ant-modal-body{
    max-height: 60vh;
    overflow-y: auto;
  }
  .modal-height{
    .ant-modal-body{
      max-height: none;
      overflow-y: visible;
    }
  }
}
.cursor{
  cursor: pointer;
}