.user-wrapper{
  .search-from{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .alert-desc{
    .ant-alert-message{
      color: #ebb563;
    }
  }
}